.imgdiv{
    width: 45%;
    height: 100vh;
    /* //background-color: bisque; */
    position: absolute;
}
#imgh1{
    font-size: 20px;
    position: absolute;
    left: 25px;
}
#img1{
    width: 450px;
    height:450px;
    position: absolute;
    top: 68px;
    left: 25px;
}
.descriptiondiv{
    width: 40%;
    height: 98vh;
    position: absolute;
    left: 680px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: violet;
    border-style:ridge;
}
.Price{
    position: absolute;
    left: 25px;
    
}

.Discription{
    position: absolute;
    top: 80px;
    font-size: 19px;
}
.addbasket{
    position: absolute;
    border-radius: 20px;
    background-color: blue;
    color: white;
    box-shadow: white;
    width: 220px;
    height: 28px;
    font-size: 19px;
    padding: 5px;
    text-align: center;
    bottom: 22%;
    left: 28%;
}